body{
    background: #aa7c69;
    font-size: 20px;
    max-width: 900px;
    margin: auto;
}
::placeholder {
    font-size: 1.5em;
    text-align: center;
  }
.c-cuerpo{
    display: none;
}
.c-final{
    display: none;
}
/* cuando se muestra el inicio */
.c-principal{
    display: flex;
    width: 50%;
    padding: 20px;
    background: #aa5a38;
    margin: auto;
    border-radius: 5px;
    margin-top:40vh; 
}
.infoUsu{
 
    width: 100%;
    height: 100%;

}
.c-principal input{
    width: 80%;
    display: flex;
    margin: auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
}


.c-principal button {
    font-size: 20px;
    color: #ffffff;
    background: #8f3737;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    margin: auto;
    margin-top: 20px;
    border: none;
}
/* canvas */

canvas{
    background:rgb(137, 168, 133);
  
}
.c-canvas{
    padding-top: 20px;
}
/* inicio */
.empiezacuerpo{
    display: block;
}
.acabaprincipal{
    display: none;
}
/* final */
.acabacuerpo{
    display: none;
}
.empiezafinal{
    display: block;
}
 

/* cuando se muestra .c-principal */
.c-cuerpo{
    width: 90%;
    margin: auto;
    background: #aa5a38;
    text-align: center;
    margin-top: 30px;
    border-radius:5px;
}
.c-cronometro{
    position: relative;
    background: rgb(255, 174, 0);
    width: 200px;
    margin-top: 20px;
}


.c-final{
    width: 100%;
    background: #8f3737;
    margin-top: 200px;
}
.c-final p{
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 60px;
}
.c-img{
    width: 50%;
    margin: auto;
    
}
.c-img img{
    width: 100%; 
}


.c-usuario button{
    background: #8f3737;
    padding: 10px;
    border-radius: 10px;
    border-color: rgb(255, 174, 0);
    margin-bottom: 20px;
}
.c-usuario button:hover{
    border-color: #8f3737; 
    background: rgb(255, 174, 0);
}

@media only screen and (max-width: 400px) {
    body{
        width: 100%;
        font-size: 17px;
    }
    .c-cuerpo{
        width: 100%
    }
}






