<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="styles/juego.css">
</head>
<body >
    <div class="hora">
        <div id="tiempo"></div>
    </div>
    <div class="acciones">
        <p>Acciones:</p>
        <p id="accion">100</p>
    </div>
    <div class="usuario">
        <p>Capital:</p>
        <p id="capital">1000</p>
        <button id="comprar">Comprar</button>
        <button id="vender">Vender</button>
    </div>
    <script src="../js/juego.js"></script>
</body>
</html>